{% extends 'base.html' %}
<title></title>

<header>
    <h1>{{ title }}</h1>
</header>
{% block content %}

    <div class="features">

        <div class="cont-about">
            <h1 class="about-title">
                <strong>{{ title }}</strong>
            </h1>
            
            
            <p class="content-about"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem commodi consequatur, enim explicabo impedit molestias nulla possimus quisquam quo quos recusandae reiciendis repellat rerum suscipit unde voluptate, voluptatibus? Repellendus, vitae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi doloremque est et, explicabo inventore, itaque laborum libero maxime modi natus nesciunt nihil odit officiis praesentium qui quidem sed vero.</p>
            <p class="about-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium atque dolorum excepturi fugiat ipsam laboriosam qui reiciendis reprehenderit similique ullam? Aspernatur autem doloremque esse, fuga ipsum obcaecati veritatis. Animi, explicabo.</p>



        </div>
    </div>
{% endblock %}

{% block title %}
    О нас
{% endblock %}